#mainContent{
	min-height: 500px;
	position: relative;
	padding-bottom: 30px;
}

.sitmap{
	font-size: 14px;
	font-family: '微软雅黑';
	color: #636060;
	height: 31px;
	background-color: white;
	padding-top: 30px;
}
.container{
	
	background-color: #EEEEEE;
}
.casetitle{
	height: 244px;
	background-color: #EEEEEE;
}
.photo{
	height: 162px;
}
#mainContent .container .casetitle .case_right{
	width: 162px;
	float: right;
}
#mainContent .container .casetitle .case_left{
	float: left;
}

#mainContent .container .casetitle  .case_right .comm{
	height: 26px;
	background-color: #EC6813;
	margin-bottom: 4px;
	font-size: 14px;
	color: #FFFFFF;
	font-family: '微软雅黑';
	padding-top:11px;
	text-align: center;
}
.comm a{
	color: white;
}
#mainContent .container .casetitle .case_left .case_left_top{
	width: 172px;
	height: 61px;
	background-color: #EC6813;
	position: relative;
	left: -23px;
	top: 28px;
	padding-left: 51px;
	padding-top: 16px;
}

.case_left_bottom{
	position: absolute;
	bottom: 17px;
	height:69px;
	width: 887px;
	margin-left: 17px;
	overflow: hidden;
	line-height: 24px;
	color: #757D83;
}
.case_left{
	position: relative;
	height: 245px;
	width: 938px;
}
#mainContent div.container div.addition{
	height: 298px;
	width: 70px;
	position: absolute;
	left: 1100px;
	top: 61px;
	background-color: #EEEEEE;
	padding-left: 13px;
	padding-top: 11px;
}
.addition ul{
	width: 47px;
	height: 164px;
	
}
.addition ul li{
	height: 33px;
	background-color: white;
	margin-bottom: 1px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 8px;
}

#mainContent > div.container > div.addition > ul > li > span{
	display: block;
}

#mainContent > div.container > div.addition > img.QrCode{
	margin-top: 30px;
}
#mainContent div.container div.casetitle div.case_left div.case_left_top span{
	display: block;
	color: white;
}
#mainContent div.container div.casetitle div.case_left div.case_left_top span.title{
	font-size: 20px;
}
#mainContent div.container div.casetitle div.case_left div.case_left_top span.style{
	font-size: 14px;
}
#mainContent div.container div.casetitle div.case_left div.case_left_top div.sep{
	height: 10px;
}
#mainContent > div.container > div.casetitle > div.case_left > div.case_left_bottom > span > p{
	text-indent: 2em;
}