#classify{
	padding-bottom: 6px;
}
#classify .w p{
	line-height: 54px;
	color: #595656;
	font-size: 14px;
	padding-bottom: 13px;
}
#classify .w .classify_list{
	line-height: 44px;
}
#classify .w .classify_list span .b{
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
#classify .w .classify_list span a{
	color: #666666;
	padding: 7px;
	border-radius: 2px;
}
#classify .w .classify_list span .now{
	background-color: #ff742d;
	color: #fff;
}

#team .w .team_img li{
	margin-bottom: 11px;
}
#team .w .team_page{
	line-height: 292px;
	text-align: center;
	padding-bottom: 40px;
}
#team .w .team_page span a{
	color: #000;
	font-size: 12px;
	padding: 11px;
	border-radius: 2px;
}
#team .w .team_page span .now{
	background-color: #ee5500;
	color: #fff;
}
#team .w .team_img li{
	position: relative;
}
#team .w .team_img li .team_description{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 266px;
}
#team .w .team_img li .team_description dl dt{
	color: #ececec;
	font-size: 14px;
	font-weight: 400;
	line-height: 43px;
	background: #de4527;
	text-align: center;
}
#team .w .team_img li .team_description dl dt span{
	font-size: 18px;
}
#team .w .team_img li .team_description dl dd{
	background: black;
	color: #ececec;
	padding-left: 26px;	
	line-height: 32px;
	font-size: 14px;
    opacity: 0.78;
    overflow: hidden;
}
#team > div.w > ul > li:nth-child(1) > div > dl > dd:nth-child(2){
	padding-top: 12px;
}


